.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    align-items: center;
    padding: 0.75rem 1.5rem;
    color: white;
  }
  
  .breadcrumb {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
  }
  
  .breadcrumb span {
    margin-right: 0.5rem;
  }
  
  .breadcrumb-separator {
    margin-right: 0.5rem;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
  }
  
  .user-info .user-icon {
    margin-left: 0.5rem;
    font-size: 1rem;
  }
  