.chat-container {
    margin: 0px;
    display: flex;
    background-color: #64062B ;
  }
  
  .chat-sidebar {
    width: 250px; 
    padding: 20px;
    color: white;
  }
  
  .chat-content {
    flex-grow: 1; 
    padding: 20px;
  }

  .chat-hackathon-section {
    background-color: #3B002E;
    color: white;
  }
  